.wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 33px;
    line-height: 20px;
    position: relative;
}

.input { 
    padding: 16px 15px;
    border-radius: 5px;
    border: 1px solid #DBE2EA;
    color: #2C2738;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    &::placeholder {
        color: #7C9CBF;
    }
    &:active, &:focus-visible {
        outline: 2px solid #0880AE;
    }
}

.label {
    color: #756F86;
    padding-bottom: 7px;
}

.caution {
    display: none;
    position: absolute;
    top: 88px;
    font-size: 14px;
    color: #FF7171;
}

.visible {
    display: block;
}